<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../static/css/syleHistoria/styleHistoria.css">
    <link rel="stylesheet" href="../../static/css/styleHomes/styleHomeNavBar.css">
    <title>Imagem de Destaque com Pássaro</title>
</head>

<body>
    <nav>
        <img src="" alt="">
        <a href="../forum/indexForum.html" id="navA">Fórum</a>
        <a href="../historia/indexHistoria.html" id="navA">História</a>
        <a href="#" id="navA">Fotos</a>
        <a href="{{ url_for('login_page') }}" class="loginButton" id="navA">Login</a>
    </nav>
    <div class="hero">
        <div class="hero-text">
            <h1>Conectando Pessoas à Natureza</h1>
            <p>Descubra a beleza dos pássaros e o valor da preservação ambiental para um futuro sustentável.</p>
        </div>
    </div>

</body>

</html>