<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Encontrar senha</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/styleLoginPage.css">
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="logo">Belganarios</div>
            <div class="title">Quer Encontrar sua senha?</div>
            <div class="subtitle">Vamos mandar sua senha no email abaixo.</div>
            <div class="form">
                <input type="email" placeholder="Email" />
                <div class="form-options-inline">
                    <a class="forgot" href="indexRedefinirSenha.html">Redefinir senha</a>
                </div>
                <!-- Botão "Lembrar de Mim" -->
                <button class="btn">Enviar E-mail</button>
            </div>
        </div>
        <div class="right">
            <div class="image-section">
            </div>
        </div>
    </div>
    <script src=""></script>
</body>

</html>