<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Redefinir senha</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/styleLoginPage.css">
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="logo">Belganarios</div>
            <div class="title">Redefinir senha.</div>
            <div class="subtitle">Preencha as informações abaixo.</div>
            <div class="form">
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Sua senha" />
                <input type="password" placeholder="Nova senha" />
                <input type="password" placeholder="Confirmar nova senha" />
                <div class="form-options-inline">
                    <a class="forgot" href="indexLoginPage.html">Fazer login</a>
                </div>
                <!-- Botão "Lembrar de Mim" -->
                <button class="btn">Redefinir</button>
            </div>
        </div>
        <div class="right">
            <div class="image-section">
            </div>
        </div>
    </div>
    <script src=""></script>
</body>

</html>